.equipo
{
    width: 100%;
    background-color: #D9F7E9;
    padding: 32px;
    box-sizing:border-box;
    text-align: center;
}

.equipo h3
{
    font-size: 32px;
    font-weight: 400;
    font-family: "Prata";
    color: #212121;
    border-bottom: 4px solid #57C278;
    display: inline-block;
}