.boton
{
    color: #FFFFFF;
    background-color: #6278F6;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding: 24px 32px;
    margin: 32px 0;
    transition: 1s all;
}

.boton:hover
{
    color: #95FFD4;
    background-color:#526af2;
    transform: scale(1.1);
}